{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: "Theme"|t('command'),
    instructions: "Which theme do you want to use?"|t('command'),
    id: 'theme',
    name: 'theme',
    options: themes,
    value: settings.theme,
    first: true
}) }}

{% set elementTypesInput %}
    <table class="data fullwidth">
        <thead>
            <tr>
                <th scope="col" style="width: 50%;">{{ 'Element Type'|t('command') }}</th>
                <th scope="col">{{ 'Enabled'|t('command') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for refHandle, row in elementSearchElementTypes %}
            <tr>
                <td>
                    {{ row.elementType }}
                    <input type="hidden" name="elementSearchElementTypes[{{ refHandle }}][elementType]" value="{{ row.elementType }}">
                </td>
                <td>
                    {{ forms.lightswitchField({
                        first: loop.first,
                        id: 'enabled-' ~ refHandle,
                        name: 'elementSearchElementTypes['~ refHandle ~'][enabled]',
                        on: row.enabled
                    }) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %}
{{ forms.field({
    label: 'Element search Element Types'|t('command'),
    instructions: 'Which Element Types you want to support for direct search.'|t('command'),
}, elementTypesInput) }}
